version: '3.8'

services:
  pgdb:
    container_name: pgdb
    build:
      context: ./
      dockerfile: Dockerfile_PG
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
  pgadmin:
    container_name: pgadmin4
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"

  sqlserverdb:
    container_name: sqlserver
    platform: linux/amd64
    build:
      context: ./
      dockerfile: Dockerfile_MS
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: "YourStrongPassw0rd"
    ports:
      - "1433:1433"

  jupyterlab:
    container_name: jupyterlab
    build:
      context: ./
      dockerfile: Dockerfile_JupyterLab
    restart: always
    ports:
      - "8888:8888"
      - "9092:9092"
    volumes:
      - .:/usr/src/app
    environment:
      JUPYTER_ENABLE_LAB: "yes"
    platform: linux/amd64

volumes:
  postgres_data: